.domain-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items within the container */
    padding: 2rem;
    gap: 2rem;
    max-width: 1200px; /* Optional: Limit the maximum width to prevent excessive stretching on large screens */
    margin: 0 auto; /* Center the whole .domain-list container */
  
    .domain-item {
      flex-basis: calc(33.333% - 2rem); 
      margin-bottom: 2rem;
  
      @media (max-width: 1024px) {
        flex-basis: calc(50% - 2rem); /* 2 items per row on medium screens */
      }
  
      @media (max-width: 768px) {
        flex-basis: calc(50% - 2rem); /* Keep 2 items per row on smaller screens */
      }
  
      @media (max-width: 480px) {
        flex-basis: 100%; /* 1 item per row on very small screens */
        margin-bottom: 1rem;
      }
    }
  }
  