.blue-ribbon {
    background-color: #102757;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    z-index: 1100;
    flex-wrap: wrap; 
    margin-top: 0;

}

.blue-ribbon-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    gap: 1rem;
}

.location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    margin-bottom: 5px;
    margin-right: 70px;
}

/* Post an Ad Section */
.post-ad {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 70px;
}

.plus-icon {
    width: 24px;
    height: 24px;
}

.post-ad-text {
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #fefefe;
    border-radius: 10px;
    padding: 0.5rem 1.2rem;
    margin-top: 0.5rem;
}

.search-input-br {
    flex: 1;
    background-color: #fefefe;
    border: none;
    outline: none;
    color: #595555;
    font-size: 1rem;
}

.search-icon {
    color: #102757;
    font-size: 1rem;
}

/* -------- RESPONSIVENESS -------- */

@media (max-width: 770px) {
    .blue-ribbon {
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 0.5rem;
    }

    .blue-ribbon-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .post-ad {
        display: none; 
    }
    .location{
        display: none;
    }
    .search-bar {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 770px) {
    .blue-ribbon {
        flex-direction: row;
        justify-content: space-between;
    }

    .blue-ribbon-top {
        flex: 1;
    }

    .search-bar {
        margin: 0 2rem;
        flex: 1;
    }

    .post-ad {
        justify-content: flex-end;
    }
}
