.sidebar {
    width: 250px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #112757;
    position: fixed;
    top: 138px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding: 1rem;
    border-right: 1px solid #e0e0e0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  
 
  h3 {
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
    color: #102757;
    font-weight: bold;
    margin-top: 0.6rem;
  
  }
  
  hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 1rem 0;
  }
  
  .filter-section.price-section {
    flex-direction: column;
    align-items: flex-start;
  }


.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.7;
}


.filter-section span {
    font-size: 1rem;
    line-height: 1; 
    display: flex;
    align-items: center;
    margin-left: auto; 
    cursor: pointer;
}

  
  .price-inputs {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
  }
  
  .price-inputs input {
    width: 45%;
    padding: 0.3rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
  }
  
  .sidebar-list {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.7rem 0.75rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 7px;
  }
  
  .sidebar-item:hover {
    background-color: #f1f1f1;
  }
  
  .sidebar-item.selected {
    background-color: #6a2983;
    color: white;
  }
  
  .sidebar-icon {
    width: 20px;
    height: 20px;
  }
  
  .view-all {
    margin-top: 1rem;
    text-align: center;
    color: #112757;
    font-weight: 500;
    cursor: pointer;
    margin-left: -2.5rem;
  }
  
  .view-all:hover {
    text-decoration: underline;
  }
  
  .sidebar-toggle-btn {
    display: none;
    background-color: #e0dfdf;
    color: #102757;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .sidebar-toggle-btn:hover {
    background-color: #d5d5d5;
  }
  
  .sidebar-close-btn {
    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #102757;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
  }
  
  @media (max-width: 770px) {
    .sidebar {
      position: fixed;
      left: -100%;
      width: 250px;
      transition: left 0.3s ease-in-out;
    }
  
    .sidebar.active {
      left: 0;
    }
  
    .sidebar-toggle-btn {
      display: block;
      margin: 1rem;
      margin-left: 2rem;
    }
  
    .sidebar-close-btn {
      display: block;
    }
  }
  