/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.menu-two{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-two
{
	position: relative;
}

.top-bar{
  background-color: #282828;
  padding: 20px 0
}

.top-bar .social-icon{
  display: flex;
  align-items: center;
}

.top-bar .social-icon i{
  color: #fff;
  font-size: 17px;
  width: 35px;
  text-align: center;
  height: 35px;
  border-radius: 50px;
  line-height: 35px;
  background: #282828;
  transition: 0.5s;
}

.top-bar .social-icon i:hover{
  background-color: #F10E00;
}

.top-bar .content{
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.top-bar .content:last-child{
  margin-right: 0;
}

.top-bar .content .icon i{
  color: #F10E00;
  font-size: 25px;
  margin-right: 15px;
}

.top-bar .content .details p{
  margin-bottom: 0;
  font-size: 14px;
  color: #A5A5A5;
}

.top-bar .content .details p.light{
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
}

.top-bar .content .details p.light:hover{
  color: #F10E00;
}

/*=================================
Home Area
====================================*/
.hero-sec {
  background: url(../img/home/beg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 85vh;
  position: relative;
}

.hero-sec:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
}

.hero-sec .content-sec{
  position: relative;
  width: 100%;
  left: 0%;
  margin-top:130px;
}

.hero-sec .section-title {
    position: relative;
    color: #fff;
    margin: 36px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 68px;
    font-weight: 700;
    text-align: right;
    text-transform: capitalize;
    
}

.hero-sec .section-title:before{
    content: '';
    position: absolute;
    width: 70px;
    height: 3px;
    top: -17px;
    right: 5px;
    background: #fff;
}

.hero-sec .section-subtitle {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 0px 35px 0px;
    width: 750px;
}

@media (max-width: 1025px){
  .hero-sec .section-title{
    padding-top: 35px;
    font-size: 55px;
  }
}

.btn-wraper{
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.btn-wraper .home-btn {
    padding: 17px 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    background-color: #F10E00;
    letter-spacing: 1px;
    display: block;
    border-radius: 5px;
    width: 165px;
    transition: all 0.5s;
}

.about .btn-wraper{
  margin-top: 15px;
}

.btn-wraper .home-btn:hover{
  background-color: #4d46b5;
  color: #fff;
}

@media screen and (max-width: 767px){
  
  .btn-wraper .home-btn {
    padding: 15px 30px 15px 30px;
  }
}

.bg-color{
  background-color: #282e3f;
}


/*=================================
slider Area End
====================================*/


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
@media (min-width: 992px){
  section {
    padding: 100px 0;
    overflow: hidden;
    position: relative;
  }
}

@media (max-width: 992px){
  section {
    padding: 65px 0;
    overflow: hidden;
    position: relative;
  }
  section.home7-hero-sec {
    padding: 100px 0;
  }
}

.section-title-5 {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title-5 h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.section-title-5 .separator {
    position: relative;
    margin: 10px auto 0px;
    width: 120px;
}

.section-title-5 .separator ul {
    padding: 0px;
    margin: 0px;
}

.section-title-5 .separator ul::before {
    content: '';
    width: 50px;
    height: 4px;
    background: #c9c9c9;
    left: -18px;
    top: 47%;
    position: absolute;
    border-radius: 50px;
}

.section-title-5 .separator ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background: #F10E00;
}

.section-title-5 .separator ul::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background: #c9c9c9;
    right: -18px;
    top: 47%;
    border-radius: 50px;
}

.section-title-5 p {
  margin: 25px;
  color: #838383;
  font-weight: 500;
}

.section-bg {
  color: #fff;
}

.section-bg:before {
  content: "";
  background: #f1f1f1a6;
  position: absolute;
  bottom: 0px;
  top: 0;
  left: -5px;
  right: 0;
}

.cl-white{
  color: #fff;
}

.cta-5{
  padding: 150px 0;
  position: relative;
  background-image: url(../img/home-5/cta1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cta-5:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.6;
}

.cta-5 h3{
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}

.cta-5 h2{
  color: #fff;
  width: 45%;
  margin: auto; 
  font-size: 48px;
  letter-spacing: 1px;
}

.cta-2{
  position: relative;
  padding: 115px 0;
  background: url(../img/cta/bg.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.cta-2 .cta-content .sub-title{
  margin-bottom: 0;
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 20px;
  color: #1b1d21;
}

.cta-2 .cta-content .cta-description{
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: justify;
}


/* feature section css*/

.feature-sec {
  padding: 20px 0;
  position: relative;
  width: 100%;
  background: transparent;
  margin-top: -70px;
}

.feature-sec .feature-box{
    position: relative;
    background: #fff;
    text-align: center;
    padding: 48px 35px 40px;
    box-shadow: 8px 8px 30px 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
    transition: all 0.3s linear;
}

.feature-sec .feature-box:hover{
  background: #BF3721;
}

.feature-sec .feature-box:hover .icon{
    color: #FFFFFF !important;
    border: 1px solid #fff;
}

.feature-sec .feature-box:hover a,
.feature-sec .feature-box:hover p{
    color: #FFFFFF !important;
}

.feature-sec .feature-box:after{
    position: absolute;
    content: "";
    width: 70px;
    height: 3px;
    bottom: 0px;
    left: 50%;
    opacity: 1;
    margin-left: -35px;
    background: #F10E00;
    border-radius: 1.5px;
    transition: all 0.3s linear;
}

.feature-sec .feature-box:hover:after{
  opacity: 0;
}

.feature-sec .feature-box .icon{
    display: inline-block;
    color: #F10E00;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 45px;
    margin-bottom: 17px;
    text-align:center;
    background: #1905011f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.feature-sec .feature-box .content .title-box{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 1.2;
}

.feature-sec .feature-box .content .title-box a {
    color: #1b1d21;
}

.feature-sec .feature-box .link-details {
    margin-top: 18px;
    color: #F10E00;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.5s linear;
}

.feature-sec .feature-box .link-details:hover i {
    margin-right: 4px;
}

.feature-sec .feature-box .link-details i {
    margin-right: 8px;
    transition: margin 0.3s ease;
}

/* about css */

.about{
  position: relative;
  background-color: #fff;
}

.about .about-content{
    text-align: left;
    padding: 60px 40px 10px 40px;
}

.about .title-inner .section-subtitle{
    color: #F10E00;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0px 0px 15px 0px
}

.about .title-inner .title {
    color: #292929;
    margin: 0px 0px 15px 0px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}

.about .description p{
  text-align: left;
  line-height: 25px;
  color: #7a7a7a;
}

.infobox {
    display: flex;
    padding: 0px;
}

.infobox .box-body {
    position: relative;
    z-index: 2;
    margin-left: 15px;
}

.infobox .box-header i{
  font-size: 30px;
  color: #F10E00;
}

.infobox .info-box-title {
    padding: 0px 0px 0px 0px;
    color: #292929;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}

.about .btn-wraper{
  justify-content: flex-start;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services-sec{
  background-color: #f2f2f2;
}

.section-heading{
  padding: 0px 0px 50px 0px;
}

.section-heading .sm-title{
    color: #F10E00;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin: 0px 0px 20px 0px;
    text-transform: capitalize;
}

.section-heading .bg-title{
      margin-top: 15px;
      text-transform: capitalize;
}

.section-heading .heading-description{
    display: inline-block;
    width: 100%;
}

.section-heading .heading-description p{
    color: #112847;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0px 0px 24px 0px;
}

.heading-divider .heading-seperator {
    height: 4px;
    width: 30px;
    background: #2575fc;
    border-radius: 2px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.heading-divider .heading-seperator::before {
    content: "";
    position: absolute;
    left: -27px;
    top: 0;
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #0c5adb;
    box-shadow: 9px 0 0 0 #0c5adb, 18px 0 0 0 #0c5adb;
}

.services-sec .service-box {
  position: relative;
  padding: 40px 20px 40px 50px;
  border-radius: 5px;
  margin: 10px;
  background: #fff;
  text-align: left;
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 15%)
  border: 1px solid rgba(0, 0, 0, 0.07);
  transition: all 0.5s;
}

.services-sec .service-box:hover{

    border-color: transparent;
    z-index: 2;
}

.services-sec .service-box .icon-box {
  position: absolute;
  top: 30%;
  left: -35px;
  background: #F10E00;
  border-radius: 5px;
  text-align: center;
  width: 70px;
  height: 70px;
  line-height: 70px;
}

.services-sec .service-box .icon-box i{
  font-size: 37px;
  color: #fff;
  line-height: 70px;
}

.services-sec .service-box h4 a {
  color: #1b1d21;
  font-weight: 700;
  font-size: 19px;
  text-transform: capitalize;
  transition: 0.3s;
}

.services-sec .service-box h4 a:hover {
  color: #F10E00
}

.services-sec .service-box p {
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 0;  
  color: #60626D;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio-5 .portfolio-item {
   margin-bottom: 30px;
}

.portfolio-5 .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: rgba(0,0,0,0.47)
}

.portfolio-5 .portfolio-wrap::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all ease-in-out 0.5s;
}

.portfolio-5 .portfolio-wrap img {
  transition: all ease-in-out 0.5s;
}

.portfolio-5 .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute; 
  top: 50%;
  left:  50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 3;
  transition: all ease-in-out 0.3s;
}

.portfolio-5 .portfolio-wrap .portfolio-info h4 a{
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
}

.portfolio-5 .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio-5 .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio-5 .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
  border-radius: 50px;
  border: 1px solid #fff;
  line-height: 50px;
}

.portfolio-5 .portfolio-wrap .portfolio-links a:hover {
  color: #fff;
  transform: rotate(90deg);
}

.portfolio-5 .portfolio-wrap:hover::before {
  opacity: 1;
  background: rgb(0 0 0 / 70%);
}

.portfolio-5 .portfolio-wrap:hover img {
  transform: scale(1.0
  );
}

.portfolio-5 .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*---------------------
  Product
-----------------------*/

#product .section-title {
    margin-bottom: 45px;
}

#product .product-item {
    margin-bottom: 55px;
}

#product .product-item:hover .product-hover li {
    opacity: 1;
    top: 0;
}

#product .product-item-pic {
    height: 330px;
    position: relative;
    overflow: hidden;
}

#product .product-hover {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 60px;
    text-align: center;
}

#product .product-hover li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 100px;
    opacity: 0;
}

#product .product-hover li:nth-child(1) {
    transition: all 0.4s ease 0.1s;
}

#product .product-hover li:nth-child(2) {
    transition: all 0.4s ease 0.15s;
}

#product .product-hover li:nth-child(3) {
    transition: all 0.4s ease 0.2s;
}

#product .product-hover li:last-child {
    margin-right: 0;
}

#product .product-hover li:hover a {
    background: #F10E00;
    color: #fff;
}

#product .product-hover li a {
    font-size: 18px;
    color: #111111;
    display: block;
    height: 45px;
    width: 45px;
    background: #ffffff;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(24,24,24,.2);
    transition: all, 0.5s;
}

#product .product-item-text {
    text-align: center;
}

#product .product-item-text h6 a {
    font-size: 18px;
    color: #111111;
}

#product .product-item-text .product-price {
    color: #e4573d;
    font-weight: 600;
}

.cta-7 {
  background-color: #262832;
  padding: 0 !important;
}

.cta-7 .cta-body{
  padding: 50px 0px 30px 80px;
}
.feature-box p
{
	 font-family: "Raleway", Sans-serif;
}

.cta-7 span{
  color: #F10E00;
  font-family: "Raleway", Sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.c-white {
    color: #fff;
}



.cta-7 h3{
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: capitalize;
}

.cta-7 h2{
  color: #fff;
  text-transform: capitalize;
  font-size: 48px;
  font-weight: 700; 
}

.ptb-70{
  padding: 70px 0 !important;
}

.cta-7 p{
  letter-spacing: 1px;
  max-width: 800px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.cta-7 .flex-btn{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cta-7 .btn{
  border-radius: 8px;
  color: #fff;
  background-color: #F10E00;
  text-transform: capitalize;
  transition: all 0.5s;
}

.cta-7 .btn:hover, .cta-7 .btn{
  background-color: #A47B37;
      border-color: #fff;
}

.mb-0 {
    margin-bottom: 0!important;
}

.btn {
    border-radius: 0;
    font-size: 15px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn:hover{
  background-color: #F10E00;
  color: #fff;
}

@media screen and (max-width: 768px){
  .cta-7 .btn {
    margin-top: 15px;
  }
  .cta-7 .flex-btn{
      justify-content: flex-start;
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.our-team{
    text-align:center;
    box-shadow: 8px 8px 30px 0 rgb(0 0 0 / 12%);
    border-radius: 10px;
    padding-bottom: 15px;
    transition:all 0.3s ease 0s;
}
.our-team .pic{
    position: relative;
    border-radius: 10px;
    transition:all 0.3s ease 0s;
}
.our-team .pic img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.our-team .pic-bottom{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition:all 0.3s ease 0s;
}
.our-team .pic-bottom:after{
    content: "\f061";
    font-family: "FontAwesome"; 
    font-weight: 300;
    position: relative;
    top:45%;
    left:0;
    opacity: 0;
    color:#fff;
    font-size: 28px;
    transition:all 0.3s ease 0s;
}
.our-team .pic:hover .pic-bottom{
    background:#f10e00b8;
    opacity: 0.9;
}
.our-team .pic:hover .pic-bottom:after{
    opacity: 1;
}
.our-team:hover{
  transform: translateY(-8px);
}
.our-team .post-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin: 12px 0;
}
.our-team .post-title a{
    color:#232a34;
    transition: all 0.3s ease 0s;
}
.our-team .post-title a:hover{
    color:#727cb6;
    text-decoration: none;
}
.our-team .post{
    margin-bottom: 10px;
    display: block;
    color:#F10E00;
    font-size: 16px;
}

@media screen and (max-width: 990px){
  .our-team{
      margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# News & Blog
--------------------------------------------------------------*/

.blog-sec {
  position: relative;
  background: #f7f9fb;
}

.blog-sec .blog-item {
    margin-bottom: 30px;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
    transition: all 0.5s;
}

.blog-sec .blog-item:hover{
      transform: translateY(-15px);
}

.blog-sec .blog-1 .post-img {
    overflow: hidden;
    margin-bottom: -20px;
    position: relative;
}
.blog-sec .post-img {
    overflow: hidden;
}

.blog-sec .post-img img {
    width: 100%;
    transition: all 0.9s ease;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.blog-sec .blog-item:hover a.heading{
  color: #F10E00;
}

.blog-sec .post-content{
  padding: 20px 25px 25px;
}

.blog-sec .post-content h5{
  line-height: 36px;
  padding: 20px 0;
  margin-bottom: 0;
}

.blog-sec .post-content h5 a {
    line-height: 1.4;
    font-size: 22px;
    color: #1f1f1f;
    display: block;
    margin:20px 0 5px 0;
    transition: all 0.3;
}

.blog-sec .post-content h5 .heading:hover{
    color: #F10E00;
}

.blog-sec .btn-wraper .read-more-btn{
    display: block;
    width: 150px;
    text-align: center;
    padding: 15px;
    font-size: 12px;
    border-radius: 50px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #112847;
    background-color: rgba(0,0,0,0);
    transition: all 0.5s;
    box-shadow: -1.21px 0.894px 15px 0px rgba(0,0,0,0.2);
}

.blog-sec .btn-wraper .read-more-btn:hover{
    color: #ffffff;
    background-color: #F10E00;
    border-color: #F10E00;
}

.blog-sec .post-meta-list {
    text-align: left;
    margin: 0px 0px 20px 0px;
}

.blog-sec .post-meta-list>span:not(:last-child) {
    margin-right: 25px;
    transition: all .4s ease;
    cursor: pointer;
    line-height: 1;
    display: inline-block;
}

.blog-sec .post-meta-list > span {
    color: #838383;
    transition: 0.3s; 
}

.blog-sec .post-meta-list > span:hover{
  color:  #F10E00;
}

.blog-sec .post-meta-list .meta-date-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    transition: 0.5s;
}

.blog-sec .post-meta-list .meta-date-text:hover{
  color: #F10E00;
}

.blog-sec .post-meta-list>span>i {
    display: inline-block;
}

.blog-sec .post-meta-list>span i {
    padding-right: 5px;
}

@media screen and (max-width: 991px){
    .navbar {
      width: 100%;
      padding: 0;
      position: absolute;
      top: 62px;
		  right:10px;
    }
}

/*==============================================
                Start Testimonials
===============================================*/

#testimonials{
  position: relative;
  background:#000;
}

/*#testimonials:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.65;
}*/

#testimonials .testimonial{
  background: #fff;
  border-radius: 5px;
  margin: 25px;
  box-shadow: 8px 8px 30px 0 rgb(0 0 0 / 12%);
}

.client-pic {
    width: 90px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 12px;
    display: inline-block;
}

.client-pic i{
  position: absolute;
  top: -15px;
  right: -25px;
  font-size: 25px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  background: #F10E00;
}

.client-pic img {
    border-radius: 50%;
}

.client-description p{
    color: #fff;
    max-width: 900px;
    margin: auto;
    font-size: 19px;
    padding: 20px 30px;
    text-align: left;
    line-height: 38px;
}

.client-heading {
    padding: 0;
    margin-left: 35px;
    text-align: left;
}

.client-heading h6 {
    font-size: 21px;
    font-weight: 700;
    line-height: 35px;
    text-transform: capitalize;
    margin-bottom: 2px;
    color: #fff;
}

.client-heading span {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #e90e00;
}

.owl-carousel .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -22px;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #1b1d21;
    font-size: 35px;
    margin: 5px;
    padding: 0px 20px;
    background: rgba(220, 219, 219, 0.5);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.5s;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #F10E00;
    color: #FFF;
    text-decoration: none;
}

.testi-item .testi-detail{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*==============================================
                Start Footer
===============================================*/

.footer{
  position: relative;
  background: #1E1E1E;
}

.footer .footer-about h3,
.footer .footer-links h3{
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 38px;
  text-transform: capitalize;
}

.footer .footer-about p{
  margin: 0 0 20px;
  color: #C0C1C2;
  line-height: 30px;
}

.footer .footer-about li{
  display: inline-block;
  text-align: center;
}

.footer .footer-about li i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    position: relative;
    display: block;
    margin-right: 5px;
    background-color: #24262F;
    border-radius: 50%;
    transition: all 0.5s;
}

.footer .footer-about li i:hover{
    background: #f10e00;
}

.footer .footer-links li a{
    color: #C0C1C2;
    padding-left: 0;
    margin-bottom: 16px;
    font-size: 16px;
    display: block;
    transition: all 0.5s;
}

.footer .footer-links li a:hover{
   color: #F10E00;
}

.footer .footer-links .link-list li a{
  padding-left: 8px;
}

.footer .contact-info{
  display: flex;
  position: relative;
}

.footer .contact-info .icon{
  position: relative;
  margin-right: 15px;
}

.footer .contact-info .icon i{
  position: absolute;
  top: 8px;
  font-size: 28px;
  color: #F10E00;
}

.footer .contact-info .contact-detail{
  padding-left: 40px;
}

.footer .contact-info .contact-detail p{
  font-size: 16px;
  font-weight: 400;
  color: #C0C1C2;
  margin-bottom: 5px;
}

.footer .contact-info .contact-detail h4{
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}

.footer-bottom{
  position: relative;
  background: #1e1e1e;
}

.footer-bottom .bottom-copyright{
  text-align: center !important;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 25px 0;
}

.footer-bottom .bottom-copyright p{
  margin-bottom: 0;
  color: #C0C1C2;
}

/* === 404 Error page ==== */

.page-404 {
  background: #fff;
  height: auto;
  padding: 125px 0;
}

.page-404-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.page-404-inner h1 {
  font-size: 155px;
  color: #F10E00;
}

.page-404-inner h3 {
  font-size: 55px;
  color: #1f1f1f;
}

.page-404-inner p {
  color: #1f1f1f;
  font-size: 20px;
  margin-top: 25px;
}

.page-404-inner .btn {
  margin-top: 25px;
}

.page-404-inner .btn{
  width: 200px;
  color: #fff;
  border-radius: 0;
  padding: 15px 25px;
  border: 2px solid #1f1f1f;
  transition: all 0.5s;
  background: #1f1f1f;
}

.page-404-inner .btn:hover{
  background: #F10E00;
  border: 2px solid #F10E00;
  color: #fff;
}

/*=================================
      404 Error page css End
===================================*/

@media only screen and (max-width: 525px){
  .footer .footer-about,
  .footer .footer-links{
    margin-bottom: 30px;
  }
  .services-sec .service-box {
    margin: 20px 15px 20px 35px;
  }
  .footer{
    padding-bottom: 20px !important;
  }
  .hero-sec .section-title {
    padding-top: 40px;
    font-size: 35px;
  }
  .hero-sec .section-subtitle {
    color: #fff;
    font-size: 15px;
    max-width: 500px;
}
}
 .buco-feat:hover
{
	color:#fff !important;
}
.link-boxer
{
	margin-top: 20px !important;
}