.toggle-row-section {
    width: 100%;
    max-width: 65rem;
    margin: 4rem auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
    .header {
      display: flex;
      align-items: center;
      padding: 20px;
      cursor: pointer;
      background-color: #ffffff;
      border-bottom: 1px solid #eee;
      position: relative;
  
      .icon {
        font-size: 2rem;
        margin-right: 0.5rem;
      }
  
      .text-wrapper {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        flex: 1;
      }
  
      .about-us {
        font-size: 1.2rem;
        margin: 0;
      }
  
      .articles-count {
        font-size: 0.9rem;
        color: grey;
      }
  
      .arrow-icon {
        position: absolute;
        right: 20px;
        font-size: 1.2rem;
        transition: transform 0.2s ease-in-out;
      }
    }
  
    .content {
      padding: 20px;
      background-color: white;
      font-size: 1rem;
      line-height: 1.6;
  
      .horizontal-line {
        border-bottom: 1px solid #ccc;
        margin: 1rem 0;
      }
  
      .question {
        margin-bottom: 1rem;
  
        .question-header {
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          padding: 10px 0;
          font-weight: bold;
  
          .arrow-icon {
            font-size: 1rem;
            transition: transform 0.2s ease-in-out;
          }
        }
  
        .answer {
          padding: 10px 0;
          font-size: 0.9rem;
        }
      }
    }
  
    @media (max-width: 768px) {
      max-width: 92%;
      .header {
        h3 {
          font-size: 1rem;
        }
        .icon {
          font-size: 2.18rem;
        }
        .arrow-icon {
          font-size: 1.3rem;
        }
      }
      .content {
        font-size: 0.9rem;
      }
    }
  
    @media (max-width: 480px) {
      max-width: 92%;
      .header {
        h3 {
          font-size: 0.9rem;
        }
        .icon {
          font-size: 2.18rem;
        }
        .arrow-icon {
          font-size: 1.2rem;
        }
      }
      .content {
        font-size: 0.85rem;
      }
    }
  
    @media (min-width: 769px) and (max-width: 1115px) {
      width: 92%;
    }
  }
  